<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /><link href="~/Content/Site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title yes-to-jess</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div class="text-center jess-footer mar-nil">
        All images subject to copyright. Site by <a href="http://www.guru-solutions.net/">GURU Solutions LLC</a>
    </div>
</body>
</html>
